*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Calibri,sans-serif;
    box-sizing: border-box;
}

body{
    background: #D9D9D9;
}

.container{
    width: 100%;
    max-width: 1137px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    background: #3498DB;
    height: 60px;
    display: flex;
    align-items: center;
     
}

.menu .container{
    display: flex;
    justify-content:space-between;  
}

.conteudo .container .lista-gatos-adocao{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.conteudo .container .lista-gatos-adocao .info-gato{
    background: #fff;
    width: 220px;
    height: 283px;
    border-radius:6px;
    padding:10px 10px;
    margin:38px 0;  
}

.conteudo .container .lista-gatos-adocao .info-gato .nome-gato{
    font-size: 24px;
    text-align: center;
    color: #333;
}
.conteudo .container .lista-gatos-adocao .info-gato .dados-gato{
    font-size: 16px;
    text-align: left;
    color: #333;
}

.conteudo .container .lista-gatos-adocao .info-gato:hover{
    background: #3498DB;
}

.conteudo .container .lista-gatos-adocao .info-gato:hover .nome-gato, .conteudo .container .lista-gatos-adocao .info-gato:hover .dados-gato{
    color: #fff;
}

@media only screen and (max-width: 640px) {
    .conteudo .container .lista-gatos-adocao{
        display: flex;
        justify-content: center;
    }
  }
