* {
    margin: 0;
    padding: 0;
    font-family: ' Calibri';
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
}

.cabecalho{
    background-color: #3498DB;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
   
}

.container{
    width: 100%;
    max-width: 1137px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.container ul li.gato-adocao{
    background-color: #fff;
    width: 220px;
    height: 270px;
    padding: 10px 10px;

    border-radius: 5px;
    display: inline-block;
    margin: 38px 20px;
    
}

ul li.gato-adocao:hover{
    background:#3498DB;
    color:#fff;
}

.nome-gato{
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
	.container ul{
        justify-content: center;
        margin: 20px 38px;
       
    }
   
}

