*{
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
    list-style: none;
    box-sizing: border-box;
}

body{
background:#D9D9D9;
}

 .container{
    max-width: 1137px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.menu{
    background: #3498DB;
}

.menu .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo .container .info-list-gatos{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.conteudo .container .info-list-gatos .info-gatos{
    border-radius: 6px;
    margin: 38px 0;
    background: #fff;
    padding:10px;
    width:220px ;
    height: 283px;
}

.conteudo .container .info-list-gatos .info-gatos .nome-gato{
    font-size: 24px;
    text-align: center;
}
.conteudo .container .info-list-gatos .info-gatos .dados-gato{
    font-size: 16px;
    text-align: left;
}
.conteudo .container .info-list-gatos .info-gatos .dados-gato{
    color: #333;
}
.conteudo .container .info-list-gatos .info-gatos .nome-gato{
    color: #333;
}

.conteudo .container .info-list-gatos .info-gatos:hover .nome-gato,
.conteudo .container .info-list-gatos .info-gatos:hover .dados-gato{
    color: #fff;
}

.conteudo .container .info-list-gatos .info-gatos:hover,
.conteudo .container .info-list-gatos .info-gatos:hover{
    background: #3498DB;
}


@media (max-width:640px){
    .conteudo .container .info-list-gatos{
        justify-content: center;
    }  
}



